*/.history/
.history/

*/.aux/
*/main.synctex.gz

**/.env
**/.venv
*/datasets
datasets

__pycache__
*.egg-info/

**/.vscode/
.DS_Store
**/.DS_store

**/.claude/


dataset/combined_datasets/
dataset/raw_datasets/
dataset/reports
**/.aim
**/.aim-runtime

fun_run
results